<!-- predictor/Home/templates/forgot_password.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <style>
        /* Add your styles here */
        /* ... */
    </style>
</head>
<body>
    <div class="log_form">
        <form method="post">
          {% csrf_token %}
            <div class="log_det">
                <h1>Forgot Password</h1>
                <input type="text" placeholder="Email" id="email" name="email" required><br>
                <button type="submit">Reset Password</button>
                <a href="{% url 'Home:login' %}">Go back to Login</a><br>
            </div>
        </form>
    </div>
</body>
</html>
